

<div class="d-flex align-items-flex-start justify-content-evenly height-200">
    <div>
        <span class="fw-semibold">Translate</span>
        <p class="mb-5">We Make translation easy.</p>
    </div>
    
    <div><ul><span class="fw-semibold">Solutions</span>
            <li>Business</li>
            <li>Education</li>
         </ul>
    </div>

    <div><ul> <span class="fw-semibold">Company</span>
        <li>About</li>
        <li>Help</li>
        <li>Blog</li>
    </ul>       
    </div>

    <div><ul> <span class="fw-semibold">Product</span>
        <li>Pricing</li>
        <li>Teams</li>
        <li>Embed Translator</li>
        <li>Developers</li>
        <li>Templates</li>

    </ul>       
    </div>

    <div><ul> <span class="fw-semibold">Apps</span>
        <li>Download</li>
        <li>iOS App</li>
        <li>Android App</li>
        <li>Windows App</li>
    </ul>       
    </div>

</div>
