<div class="p-3 container-fluid ch-tl">
    <div class="row">
        <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-xs-2 p-4 align-items-center ">
            <span class="fw-semibold"><h3>Translate</h3></span>
            <p class="mb-5">We Make translation easy.</p>
        </div>

        
            <div class="col-xl-2 col-md-4 col-sm-6 col-xs-6 align-items-center justify-content-sm-center">

                <ul><span class="fw-semibold">Solutions</span>
                    <li>Business</li>
                    <li>Education</li>
                </ul>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 align-items-center justify-content-sm-center">
                <ul><span class="fw-semibold">Company</span>
                    <li>About</li>
                    <li>Help</li>
                    <li>Blog</li>
                </ul>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 align-items-center justify-content-sm-center">
                <ul><span class="fw-semibold">Product</span>
                    <li>Pricing</li>
                    <li>Teams</li>
                    <li>Embed Translator</li>
                    <li>Developers</li>
                    <li>Templates</li>

                </ul>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6 align-items-center justify-content-sm-center">
                <ul> <span class="fw-semibold">Apps</span>
                    <li>Download</li>
                    <li>iOS App</li>
                    <li>Android App</li>
                    <li>Windows App</li>
                </ul>
            </div>
      
    </div>
</div>
</div>