<div class="download-section d-flex flex-column align-items-center ">
    <button id = "pdfdownload" class="br-rad50 ch-tl p-1 mb-3 w-180" onclick= "download_pdf(temp)">Download Pdf</button>
    <button id = "txtdownload" class="br-rad50 ch-tl p-1 mb-3 w-180" onclick= "download_txt(temp)">Download Txt</button>
    <button id = "mp3download" class="br-rad50 ch-tl p-1 mb-3 w-180" onclick= "download_mp3(temp)">Download Mp3</button>
    
</div>