<div class="download-section d-flex flex-column align-items-center ">
    <button class="br-rad5 ch-rd mb-5">Download Pdf</button>
    <button class="br-rad5 ch-rd mb-5">Download Text</button>
    <button class="br-rad5 ch-rd mb-5">Download Docs</button>
</div>