

<div class="download-section d-flex flex-column align-items-center ">
    <button id = "pdfdownload" class="br-rad5 ch-tl p-1 mb-3" onclick= "download_pdf()">Download Pdf</button>
    <button class="br-rad5 ch-tl p-1 mb-3" onclick= "download_txt()">Download Text</button>
    <button class="br-rad5 ch-tl p-1 mb-3" onclick= "download_mp3()">Download Mp3</button>
</div>