<div class="">
  <div class="">
    <h2 class=" ">
      <center>Why to Choose translator?</center>
    </h2>
  </div>

  <ul class="container-fluid">
    <div class="row">
     
        <li class="w40-h40 p-4 flex-fill col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div>
            <img src="https://s.smallpdf.com/static/6c8f3b3ddfae46e0e10e.svg" alt="" loading="lazy" width="80"
              height="80" class="" />
          </div>

          <h4 class=" ">People Trust Us</h4>
          <p class=" ">
            Over a billion users have used our service to simplify their work
            with digital documents.
          </p>
        </li>

        <li class="w40-h40 p-4 flex-fill col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class=" ">
            <img src="https://s.smallpdf.com/static/59631c721feeea5b50d9.svg" alt="" loading="lazy" width="80"
              height="80" class="" />
          </div>col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12rust Us</h4>
          <p class=" ">
            We’re one of the highest-rated Translation software on major B2B
            software listing platforms: Capterra, G2, and TrustPilot.
          </p>
        </li>
        <li class="w40-h40 p-4 flex-fill col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class=" ">
            <img src="https://s.smallpdf.com/static/067b970252d645f7e1b8.svg" alt="" loading="lazy" width="80"
              height="80" class="" />
          </div>
          <h4 class="">Our Partners Trust Us</h4>
          <p class=" ">
            Unlock bonus features with the Translator Chrome Extension, Google
            Workspace, and Dropbox App—all free to use.
          </p>
        </li>

        <li class="w40-h40 p-4 flex-fill col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="">
            <img src="https://s.smallpdf.com/static/15168e88738b476ed07a.svg" alt="" loading="lazy" width="80"
              height="80" class="" />
          </div>
          <h4 class="">24/7 Customer Support</h4>
          <p class=" ">
            Get all the help you need with our round-the-clock customer support.
          </p>
        </li>
        <li class="w40-h40 p-4 flex-fill col-xl-3 col-md-4 col-sm-6 col-xs-12">
          <div class="">
            <img src="https://s.smallpdf.com/static/8b99e947ac8838347439.svg" alt="" loading="lazy" width="80"
              height="80" class="" />
          </div>
          <h4 class="">256-Bit TLS Encryption</h4>
          <p class=" ">
            We use 256-bit TLS encryption for secure information transfer.
          </p>
        </li>
        <li class="w40-h40 p-4 flex-fill col-xl-3 col-md-4 col-sm-6 col-xs-12">
          <div class="">
            <img src="https://s.smallpdf.com/static/df0f9ec6fa4dfd9240f5.png" alt="" loading="lazy" width="80"
              height="80" class="" />
          </div>
          <h4 class="">Security Standards</h4>
          <p class=" ">
            Your safety is our priority. Translator is ISO/IEC 27001, GDPR, and
            CCPA compliant.
          </p>
        </li>
      </div>
    
  </ul>
</div>